body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

div{
    /* border: 10px solid black; */
}


#sidebar-image {
    flex: 1;
    /* background-image: url(fern.avif); */
}

#sidebar-image img {
    max-width: 100%;
    max-height: 100%;
}

#main-container{
    display: flex;
    flex-direction: column;
    flex: 2;

    
}
#disclaimer {
    background-color: #f9fafc;
    font-size: 24px;
    padding: 256px 128px 64px 32px;


}

#form-container {
    height: 500px;

}